# compiled output
#videoSpinAPI/dist
videoSpin/dist
videoSpinAPI/node_modules
videoSpin/node_modules
/node_modules
360/mp3

# Logs
logs
*.log
videoSpinAPI/npm-debug.log*
videoSpin/npm-debug.log*

videoSpin/pnpm-debug.log*
videoSpinAPI/pnpm-debug.log*

videoSpin/yarn-debug.log*
videoSpinAPI/yarn-debug.log*

videoSpin/yarn-error.log*
videoSpinAPI/yarn-error.log*

videoSpin/lerna-debug.log*
videoSpinAPI/lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.angular
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
videoSpinAPI/*.mp4
#videoSpinAPI/*.png
secrets/key.pem
videoSpinAPi.zip
videoSpinAPi.zip
videoSpinAPI/*.pem
*.pem
*.rar
*.mp4

*.txt
*.map
*.tsbuildinfo
*.tsbuildinfo
*.txt
*.pack
*.mp3
*.tsbuildinfo

*.ino
