<ion-header class="bg">
  <ion-toolbar class="bg">
    <ion-title class="bg">Lista de Eventos </ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="configUrltAlert()">
        <ion-icon name="options-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  -->

  </ion-toolbar>
</ion-header>

<ion-content  class="bg">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" style="width: 130px !important;">Camera
      <ion-icon name="cog"></ion-icon> </ion-fab-button></ion-fab>

  <!--<h1 class="ion-padding" style="text-align: ceter;">Eventos</h1>-->

  <ng-container *ngFor="let evento of eventos; let i = index" style="background: #272727 !important;color: white !important;">
    <div *ngIf="evento.nome !== 'null' " style="background: #272727 !important;color: white !important;">
      <ion-item (click)="eventoActionSheet(evento,i)" style="background: #272727 !important;color: white !important;" button>
        <ion-label style="background: #272727 !important;color: white !important;">
          <h2>{{evento.nome}}</h2>
          <p>{{evento.data |date:'dd/MM/YYYY'}}</p>
        </ion-label>
      </ion-item>
    </div>

  </ng-container>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Evento</ion-title>
          <ion-buttons slot="end">
            <ion-button
              (click)="salvaEvento(configForm.value)"
              [strong]="true"
              [disabled]="!configForm.valid"
              >Salvar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <h1 class="ion-padding">Configuração da entrada de Video</h1>

        <form [formGroup]="configForm">
             <!--    <ion-item>
            <ion-label position="stacked">Nome do Evento</ion-label>
            <ion-input
              type="text"
              placeholder="Evento"
              formControlName="nome"
              required
            ></ion-input>
          </ion-item>
          <span
            class="error"
            *ngIf="isSubmitted && errorControl.nome.errors?.required"
          >
            O nome é obrigatório.
          </span>
          <hr />
          <ion-item>
            <ion-label>Tempo de gravação</ion-label>
            <ion-select
              #tempoGrav
              placeholder="Tempo de gravação"
              formControlName="tempo"
              required
            >
              <ion-select-option value="5">5 segundos</ion-select-option>

              <ion-select-option value="10" selected
                >10 segundos</ion-select-option
              >
              <ion-select-option value="12">12 segundos</ion-select-option>
              <ion-select-option value="15">15 segundos</ion-select-option>
            </ion-select>
          </ion-item>
    <hr />
          <h4>Tempo dos efeitos</h4>

          <ion-item>
            <ion-label>Tempo velocidade normal: </ion-label>
            <ion-input
              type="number"
              style="text-align: right"
              formControlName="vNormal"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Tempo velocidade fast: </ion-label>
            <ion-input
              type="number"
              style="text-align: right"
              formControlName="vFast"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Tempo velocidade slow: </ion-label>
            <ion-input
              type="number"
              style="text-align: right"
              formControlName="vSlow"
            ></ion-input>
          </ion-item>

          <hr /> -->


          <ion-item>
            <ion-label>Entrada de Video</ion-label>
            <ion-select
              placeholder="Video"
              id="Video"
              formControlName="videoInput"
              required
            >
              <ion-select-option
                [value]="video"
                *ngFor="let video  of videoDevices; let i = index"
                >{{video.label?video.label:'Default Video '+i}}
              </ion-select-option>
            </ion-select>
          </ion-item>

       <!--    <ion-item>
            <ion-label>Posição dos Avisos</ion-label>
            <ion-select
              #tempoGrav
              formControlName="position"
              required
            >
              <ion-select-option value="top">Top</ion-select-option>

              <ion-select-option value="center" selected
                >Center</ion-select-option
              >
              <ion-select-option value="bottom">Bottom</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label
              >Data do Evento
              <ion-datetime-button
                datetime="datetime"
                mode="ios"
                class="ion-padding"
              ></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    id="datetime"
                    prefer-wheel="”true”"
                    formControlName="data"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-label>
          </ion-item> -->
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<!--

<ion-footer>
  <ion-toolbar>
      <p *ngIf="http.url">Servidor: {{http.url}}</p>
    </ion-toolbar>
  </ion-footer>

-->