@import "https://192.168.36.36/360Linux/360/css/style.css";
.error{
  font-size: small;
  color: red;
  padding-left: 20px;
}

.bg{
  font-family: 'Roboto' !important;
  background: #373e46 !important;
}