@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf") format('truetype');
}

body{
    font-family:'Roboto';
    background: #373e46 !important;
}

.dividir{
    width:100%;
    border-bottom: 1px solid silver;
}
.text-center{
    text-align: center;
}
.ws-100{
    width:100%;
}
.flex{
    display: flex !important;
}
.hCenter{
    justify-content: center;
}
.vCenter{
  align-items: center;
}

.mt-1{
  margin-top: 1rem !important;
}
.mt-2{
  margin-top: 2rem !important;
}
.mt-3{
  margin-top: 3rem !important;
}
.mt-4{
  margin-top: 4rem !important;
}

.m-s1{
    margin-left: 1rem !important;
}
.m-s2{
    margin-left: 2rem !important;
}
.m-s3{
    margin-left: 3rem !important;
}

.m-1{
  margin: 1rem !important;
}
.m-2{
  margin: 2rem !important;
}
.m-3{
  margin: 3rem !important;
}

.text-center{
    text-align: center;
}
.lastVideo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    
}
.home{
    margin-left:0.5rem
}
.qrcode{
    /*text-align: center;*/
    /*margin: 1rem;*/
}
canvas{
    background: white;
    width: 10rem !important;
    padding: 0.7rem;
    border-bottom: 2px solid white;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    box-shadow: 1px 1px 10px #272727;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}
.lastVideoEmbed{
    width: 36vh !important;
    height: 66vh !important;
    box-shadow: 1px 1px 10px black;
    border-radius: 0.5rem;
}
video{
    margin: 0 !important;
    width: 41vh !important;
}
.topo{
    display: flex;
    
    align-items: center;
    width: 100%;
    
    color: white;
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 4px 4px black;
    background-color: #272727;
}
.eventoTitulo{
width: 100%;
text-align:center;
}
.videoEmbed{
    width: 10rem !important;
    height: 17rem !important;
}



.videoEmbedModal{
    max-width: 85% !important;
    border-radius: 0.5rem;
    border: 3px solid #c1c1c1;
}

.videoPai{
    text-align: center;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}
.video{
    /*position: relative;*/
    /*width: 10rem;*/
    height: 17rem;
    /*border: 1px solid #e5e5e5;*/
    /*margin: 0rem 1rem 0rem 0rem;*/
    /*padding: 1rem;*/
    border-bottom: none !important;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
    box-shadow: 1px 1px 10px rgb(100, 100, 100);
    
    background-size: cover;
}
.videos{

    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.download{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 1rem;
    right: 1rem;
    opacity: 0.7;
    /*background-image: url('/360/img/download.png');*/
}
.desfocado canvas{
    filter: blur(0.15rem);
}
.btn{
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*text-transform: uppercase;*/
    font-size: 1.3rem;
    -webkit-box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 15px 20px 14px 20px;
    cursor:pointer;
}
.transition{
    -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.fechar{
    height: 1px;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    background-color: #21252a;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    /*border: 1px solid #888;*/
    border-radius: 0.5rem;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: -webkit-fill-available;

    animation-name: animatetop;
    animation-duration: 0.4s
  }
 
  form{
    margin: 1rem;
  }

  input::placeholder{
    
  }

  input, select{
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: none;
  }
  .label{
    font-size: 1.3rem;
    min-width: 13rem;;
  }
  .bg-success{
    background-color: rgb(40, 150, 40);
  }
  .bg-danger{
    background-color: #cc1517;
  }
  .bg-orange{
    background-color: rgb(255, 109, 56);
  }
  .w-100{
    width: 100% !important;
  }

  .p-05{
    padding: 0.5rem;
  }

  .p-1{
    padding: 1rem;
  }
  .p-2{
    padding: 2rem;
  }
  .p-3{
    padding: 3rem;
  }
  .text-white{
    color:white !important;
  }
  .fs-1{
    font-size: 1rem;
  }
  .fs-15{
    font-size: 1.5rem;
  }
  .fs-17{
    font-size: 1.7rem;
  }
  .fs-2{
    font-size: 2rem;
  }
  .fs-25{
    font-size: 2.5rem;
  }  
  .fs-3{
    font-size: 3rem;
  }

  .btn-danger{
    background-color: #cc1517;
  }

  .branco{
    color:white !important;
  }
  .inputs{
    display: flex;
    margin-bottom:0.5rem;
  }
  .fecharModal{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 1000;
  }

  .close {
    color: #aaa;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
    width: 2rem;
    text-align: center;
    height: 1px;
    z-index: 1000;
  }
  
  .esquerda{
    color: rgb(197, 197, 197) !important;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  a:link { text-decoration: none; }


  a:visited { text-decoration: none; }
  
  
  a:hover { text-decoration: none; }
  
  
  a:active { text-decoration: none; }


  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

.arquivoDownload{
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;

}
.arquivoDownload a{
  color: #39ff39;
  border: 3px solid;
  border-radius: 0.24rem;
  padding: 0.6rem 1.8rem;
}

  .animate-out {
    -webkit-animation: out 200ms ease-in-out forwards;
            animation: out 200ms ease-in-out forwards;
            animation-timing-function: ease-out;
            
  }
  
  .animate-in {
    -webkit-animation: in 500ms ease-in-out forwards;
            animation: in 500ms ease-in-out forwards;
    display: block;
  }

  @keyframes out { 
    0% {
      opacity: 0;
      /*transform: rotate(10deg);*/
      margin-top: -3rem;
     }
    100% { 
      opacity: 1;
      /*transform: rotate(0deg);*/
      margin-top:0rem;
    }
  }
/*
  @keyframes out { 
    0% {
      opacity: 0;
      margin-top: -2rem;
     }
    100% { 
      opacity: 1;
      margin-top:0rem;
    }
  }



*/

.clique{
  position: absolute;
  z-index: 1000;
}




